@charset "UTF-8";
/* CSS Document */

html,
body {
  margin: 0px;
  background: url('../img/symphony.png') repeat;
  /* Background image from http://subtlepatterns.com/ */
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: DimGray;
}
#content-wrapper {
  margin-top: 150px;
}

/***** Header Styles ****/
h1,
h2,
h3,
h4 {

}

h1 {
  color: tomato;
}

h2 {
  color: Salmon;
}



h1.name {
  margin-bottom: 0px;
  border: 10px solid tomato;
  padding: 30px;
  display: inline;
}
h2.title {
  margin-top: 40px;
  padding: 30px;
}
/**** Contact styles ****/
.line-break {
  border: 1px solid grey;
  margin: 30px auto;
  width: 50%;

.phone-number {
  color: DarkSeaGreen;
}
a.email {
  color: DarkSeaGreen;
  text-decoration: none;
}
/* Quote Styles */
.inspirational-quote {
  font-style: italic;
  font-size: 20px;
  margin-top: 50px;
  line-height: 30px;
}


}